
 
html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

body {
	background-color: white;
	color: black;
	margin: auto;
	padding: 0;
	background-image: url("images/bg-dark.png");
}

header {
	float: left;
	width: 100%;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #404040;
}

.name-logo {
	display: inline-block;
	margin: auto;
	float: none;
	padding: 20px 90px 20px 20px;
	position: relative;
	color: yellow;
	font-size: 32px;
	font-weight: bold;
	height: 90px;
}

.pw-logo {
	width: 50px;
	height: 50px;
	background-color: yellow;
	position: absolute;
	right: 20px;
	top: 15px;
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	color: black;
	font-weight: bold;
	letter-spacing: 2px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.top-banner {
	float: left;
	width: 100%;
	margin: auto;
	padding: 0;
	text-align: center;
	background-image: url("images/bg-dark.png");
	border-bottom: 1px solid #404040;
}

.bodyClass .top-banner {
	width: 100%;
	position: fixed;
	top: 0;
	height: 51px;
	z-index: 100;
	background-image: url("images/bg-dark.png");
	overflow: hidden;
}

.top-banner-inner {
	height: 100%;
	display: block;
	margin: auto;
	max-width: 1200px;
}

nav ul {
	display: inline-block;
	width: auto;
	margin: 0;
	float: left;
	padding: 0;
}

.bodyClass nav ul {
	padding: 0;
}

nav ul li {
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}

nav ul li a,
nav ul li button {
	float: left;
	width: auto;
	margin: 0;
	padding: 0 20px;
	line-height: 48px;
	height: 48px;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	color: silver;
	font-weight: normal;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
	color: cyan;
}

.bodyClass .webpage-wrapper {
	padding-top: 50px
}

.webpage-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: auto;
	float: left;
	clear: both;
	text-align: center;
}

.light_Mode .webpage-wrapper {
	background-color: white;
}

.dark_Mode .webpage-wrapper {
	background-color: transparent;
}

.light_Mode .webpage-wrapper * {
	border-color: silver;
	color: black;
}

.dark_Mode .webpage-wrapper * {
	border-color: #404040;
	color: white;
}

.dark_Mode .darkBTN,
.light_Mode .lightBTN {
	display: none;
}

.light_Mode .darkBTN,
.dark_Mode .lightBTN {
	display: block;
}

.darkBTN {
	background-color: black;
	color: white;
}

.lightBTN {
	background-color: white;
	color: black;
}

.darkBTN,
.lightBTN {
	float: right;
	padding: 0 20px;
	line-height: 48px;
	height: 48px;
	border: none;
}

.main-class,
.main-classB {
	float: none;
	width: 100%;
	max-width: 1200px;
	height: auto;
	position: relative;
	padding: 20px 270px 20px 20px;
	overflow: hidden;
	margin: auto;
	text-align: left;
}

.main-classB {
	padding: 20px 20px 20px 20px;
}

.article-holder {
	position: relative;
	float: left;
	width: 100%;
}

article {
	width: 100%;
	min-height: 1000px;
	padding: 20px;
	line-height: 22px;
}

.article-title {
	display: block;
	clear: both;
	padding: 20px 0;
}

.content_holder{
	display:block;
	position:relative;
	width:100%;
	clear:both;
	padding:20px 0;
	float:left;
	border-width:1px 0 0 0;
	border-style:solid;
}


.content_inner{
	display:block;
	position:relative;
	width:100%;
	clear:both;
	float:left;
 
}

.sub-title {
	float: left;
	clear: both;
	width: 100%;
text-align:left;
margin-bottom:30px;	
scroll-margin-top: 100px;

}

.light_Mode .sub-title {
	color: blue;
}

.dark_Mode .sub-title {
	color: cyan;
}

article .logoImages {
	background-color: white;
	margin: 0;
	float: left;
	padding:20px;
}

article hr {
	clear: both;
	border-width: 1px 0 0 0;
	border-style: solid;
}

aside {
	position: relative;
	float: right;
	width: 250px;
	margin-right: -250px;
}

.main-classB aside {
	margin-right: 0;
	width: 100%;
}

footer {
	float: left;
	width: 100%;
	padding: 100px 20px 300px 20px;
	position: relative;
	clear: both;
	text-align: center;
	border-top: 1px solid #404040;
}

.footer-inner {
	margin: auto;
	text-align: left;
	display: block;
	max-width: 1200px;
}

.footer-inner p {
	color: silver;
	font-weight: bold;
}

.footer-inner p a {
	color: lime;
	font-weight: normal;
	font-size: 90%;
}

.profileContacts p a {
	font-weight: normal;
	font-size: 90%;
}

.profileContacts p {
	font-weight: bold;
}

.widget-holder {
	width: 100%;
	height: auto;
	position: relative;
	padding: 10px;
	float: left;
	clear: both;
}

@media (max-width:800px){.widget-holder {padding:10px 0;}}

.widget {
	width: 100%;
	height: auto;
	position: relative;
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
	padding: 5px 10px;
}

@media (max-width:800px){
	.widget {border-width: 1px 0;
		-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	}
}

.widget-title {
	width: 100%;
	height: auto;
	position: relative;
	padding: 20px;
	border-width: 0 0 1px 0;
	border-style: solid;
	font-weight: bold;
}



.widget-inner {
	width: 100%;
	height: auto;
	position: relative;
	padding: 20px 20px 20px 20px;
	float: left;
	clear: both;
}

.widget-inner img {
	display: block;
	margin: auto;
	background-color: white;
	width: 80px;
	height: 80px;
	padding: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

@media (max-width:800px){
	.widget-inner img{float:left;} 
}

aside .widget a{display:block;   float:left; width:100%;
 clear:both;}

.expandArticleArea,
.showSideBar {
	float: right;
	height: 48px;
	line-height: 48px;
	text-align: center;
	padding: 0 20px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	background-color: transparent;
}

.expandArticleArea {}

.showSideBar {
	display: none;
}

.menu-button-holder,
.menu-button-holderB {
	width: 48px;
	height: 48px;
	background-color: white;
	padding: 10px;
	display: none;
	float: left;
}

.menu-button-holderB {
	padding: 5px;
}

.menu-button-holder .bar1,
.menu-button-holder .bar2,
.menu-button-holder .bar3 {
	width: 100%;
	height: 6px;
	display: block;
	background-color: black;
	margin-bottom: 5px;
}

.menu-button-holderB .bar1,
.menu-button-holderB .bar2,
.menu-button-holderB .bar3 {
	width: 100%;
	height: 6px;
	display: block;
	background-color: red;
	margin-bottom: 5px;
}

.menu-button-holderB .bar3 {
	display: none;
}

.menu-button-holderB .bar1 {
 
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 15px;
}

.menu-button-holderB .bar2 {
	 
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -10px;
}

@media(max-width:800px) {
	.main-class,
	.main-classB {
		padding: 1px;
	}
	aside {
		width: 100%;
		margin-right: 0;
	}
	.expandArticleArea,
	.showSideBar {
		display: none;
	}
}

@media(max-width:1000px) {
	.top-banner,
	.top-bannerShowMenu {
		width: 100%;
		position: fixed;
		top: 0;
		height: 51px;
		z-index: 100;
	}
	.top-bannerShowMenu {
		height: 100%;
	}
	header {
		padding-top: 50px;
	}
	header h1 {
		text-align: left;
		padding: 20px;
	}
	nav {
		float: left;
		width: 100%;
		height: 100%;
		clear: both;
		overflow: auto;
		position: relative;
		border-top: 1px solid #404040;
		padding: 10px 10px 50px 20px;
		display: none;
	}
	nav ul {
		padding: 20px 0;
		float: left;
		clear: both;
		width: 100%;
	}
	nav ul li {
		width: 100%;
		clear: both;
	}
	.menu-button-holder,
	.menu-button-holderB {
		display: block;
	}
}

.lightHouseVideo {
	float: left;
	width: 100%;
	padding: 20px 0;
}

.lightHouseVideo p {
	font-weight: bold;
}

.lightHouseVideo video {
	float: left;
	width: 100%;
	max-width: 100%;
	clear: both;
}

#toTop{
	float: right;
	height: 48px;
	width: 48px;
	border: none;  
    background-image: url("images/arroUp.png");
    background-color:transparent;
	 background-repeat: no-repeat;
  background-size: 100%;
  border:none;
 	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor:pointer;
	border:15px solid black;
    visibility: hidden;
}

.linksToMyProfile{
	padding:0;
	margin:0;
	float:left;
	width:100%;
	line-height:26px;
}
.linksToMyProfile li{
	list-style-type:none;
	display:block;
	float:left;
	width:100%;
	clear:both;
	margin:5px 0;
}

.linksToMyProfile li .linksImg{
	display:inline-block;
	margin: auto;
	background-color: white;
	width:30px;
	height:30px;
	padding:0px;
	margin:0 5px -7px 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
}
 
a{word-wrap: break-word;}
 
  
